.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .button {
    width: 100%;
    height: 100%;
    border: none;
    padding: 17px 0;
    border-radius: 12px;
    font-weight: 590;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    transition: transform 0.1s ease-in-out;

    &:active {
      transform: scale(0.98);
    }
  }

  .primary {
    background: linear-gradient(90deg, #ff8d6b, #ffba47);
    color: #fff;
  }
}
