.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-image: url("../../assets/mainBg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  height: 100%;

  .mainContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px;

    @media (max-width: 1439px) {
      padding: 199px;
    }
  }
  .casinoFrameWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;

    @media (max-width: 1439px) {
      height: 100vh;
      padding: 0;
    }
  }

  .logoWrapper {
    height: 120px;
    margin-bottom: 48px;
    width: 264px;
  }

  .previewWrapper {
    width: 362px;
    height: 200px;
    margin-bottom: 32px;
  }

  .buttonWrapper {
    width: 358.5px;

    @media (max-width: 375px) {
      button {
        width: 343px;
      }
    }
  }
}
