.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;

  background-image: url("../../assets/mainBg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  @media (min-width: 375px) {
    min-height: 854px;
    height: 854px;
  }

  @media (min-width: 1440px) {
    min-height: 910px;
    height: 910px;
  }

  @media (min-width: 1920px) {
    min-height: 944px;
    height: 944px;
  }

  .logoWrapper {
    height: 120px;
    margin-bottom: 48px;
    width: 264px;
  }

  .previewWrapper {
    width: 362px;
    height: 200px;
    margin-bottom: 32px;
  }

  .buttonWrapper {
    width: 358.5px;

    @media (max-width: 375px) {
      button {
        width: 343px;
      }
    }
  }
}
