.downloadBlock {
  background-color: #0b0f2a;
  width: 390px;
  border-radius: 16px;
  border: 1px solid #ff8d6b;
  border-style: dashed;

  @media (max-width: 375px) {
    width: 320px;
  }

  .downloadContent {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logoWrapper {
      width: 176px;
      height: 80px;
    }

    .downloadTexts {
      margin: 24px 0 18px 0;
      .downloadTitle {
        font-weight: 860;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 12px;
      }

      .downloadDescription {
        font-weight: 590;
        line-height: 22px;
        text-align: center;
        color: #bababa;
        font-size: 16px;
      }
    }

    .installButton {
      text-transform: initial;
    }
  }
}
