.wrapper {
  position: relative;
  width: 289px;
}

.select {
  width: 100%;
  height: 56px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  position: relative;
  overflow: hidden;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  background:
    linear-gradient(
      225deg,
      rgba(255, 255, 255, 0.22) 0%,
      rgba(255, 255, 255, 0.08) 28%,
      rgba(255, 255, 255, 0) 55%
    ),
    linear-gradient(225deg, #1c2b55 0%, #1a356f 50%, #1b2c55 100%);

  border-radius: 8px;
  border: none;
  cursor: pointer;

  color: #d8dbe3;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.05);
}

.select::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.12) 10%,
    rgba(255, 255, 255, 0) 20%
  );

  pointer-events: none;
}

.flag {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border: 1px solid white;

  div img {
    object-fit: cover;
  }
}

.label {
  flex: 1;
  text-align: left;
}

.arrow {
  font-size: 28px;
  transition: transform 0.2s ease;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: calc(100% + 12px);
  width: 100%;
  padding: 12px;

  background: #0f1c3a;
  border-radius: 20px;

  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.option {
  width: 100%;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  gap: 8px;

  background: transparent;
  border: none;
  color: #d8dbe3;
  cursor: pointer;
  border-radius: 14px;

  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}
