.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 416px;
  background: linear-gradient(90deg, #02011f, #06225d);
  color: #fff;
  padding: 60.75px 32px 49.25px 32px;

  .leftSection {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 64px;

    @media (max-width: 1440px) {
      gap: 40px;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 52px;
    }
  }

  .rightSection {
    height: 100%;
  }
}
