.socialsContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .socialsTitle {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: end;
  }

  .socialsIcons {
    display: flex;
    justify-content: end;
    gap: 4px;
    height: 52px;

    .socialsIcon {
      cursor: pointer;
      width: 52px;
      height: 52px;
    }
  }
}
