.frameWrapper {
  width: 100%;
  height: 100%;

  .closeButton {
    position: absolute;
    top: 2px;
    left: 16px;
    z-index: 10;
    color: white;
    cursor: pointer;
    font-weight: 800;

    font-size: 24px;

    @media (max-width: 375px) {
      left: 8px;
      font-size: 12px;
    }

     @media (max-width: 768px) {
      left: 12px;
      font-size: 16px;
    }
  }
}
